.item-detail {
    width: 100%;
    display: flex;
    padding: 1.25rem  1.25rem 1.25rem 1.25rem;
    justify-content: space-between;
    
}
.container-detail {
    box-shadow: .625rem .625rem yellow solid;
}

.cardImg {
    width: 35rem;
    padding:   1.25rem 1.25rem 1.25rem;
    object-fit: cover;
    border-radius: .3125rem;
}

.detail-precio {
    font-size: 1.3rem;
    font-weight: bold;
    
}
.detail {
    padding: .625rem;
    margin: 1.5rem;
}
